/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.paticka {
  text-align: center;
  font-size: 14px;
  color: silver;
}

.paticka a {
  color: silver;
}

/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */

.hlavniRecept {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(images/salat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  position: relative;
  width: 100%;
  border: 1px solid white;
}
.recept2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(images/chlebicek.jpg);
}
.recept3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(images/tacos.jpg);
}

.recept4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(images/cizrna.jpg);
}

.recept5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(images/burger.jpg);
}

.recept2,
.recept3,
.recept4,
.recept5 {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90px;
  position: relative;
  width: 100%;
  border: 1px solid white;
}

.meta {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
}

.hlavniNazev {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 28px;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px;
  margin: 0;
}

.nazev {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px;
  margin: 0;
}

@media screen and (min-width: 540px) and (max-width: 1199px) {
  .hlavniRecept {
    min-height: 250px;
  }
  .hlavniNazev {
    font-size: 36px;
  }

  .vedlejsiRecepty {
    display: flex;
    flex-wrap: wrap;
  }
  .recept2,
  .recept3,
  .recept4,
  .recept5 {
    min-height: 150px;
    max-width: 50%;
  }

  .nazev {
    font-size: 22px;
  }

  .meta {
    padding: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .recepty {
    display: flex;
    flex-direction: row;
  }

  .hlavniRecept {
    min-height: 400px;
    width: 33%;
  }
  .hlavniNazev {
    font-size: 48px;
  }

  .vedlejsiRecepty {
    display: flex;
    flex-wrap: wrap;
    width: 67%;
  }
  .recept2,
  .recept3,
  .recept4,
  .recept5 {
    min-height: 200px;
    width: 50%;
  }

  .nazev {
    font-size: 28px;
  }

  .meta {
    padding: 20px;
  }
}
